<div class="dashboard">
  <%- include('dashboard/layout') %>
  <main class="main-content">
    <header class="header">
      <h1 class="text-uppercase"><%= title %> Section</h1>
    </header>
    <section class="content">
      <p>Welcome to the dashboard!</p>
    </section>
  </main>
</div>
